.link-separator {
  border-right: 1px solid rgba(0, 0, 0, 0.1215686275);
}

.link-about-contact-page {
  display: flex;
  margin-top: 32px;
  gap: 8px;
  color: #1f7a54;
  justify-content: center;
}
.link-about-contact-page a {
  color: #1f7a54;
}

.dropdown-arrow {
  transition: 300ms;
}

.dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px 0;
  width: 100%;
}

.dropdown-header input,
.input {
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  font-family: quicksand-semibold;
  padding: 0;
}

.dropdown-header .dropdown-input {
  width: 100%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 4px 0 0 0;
}

.dropdown-menu li {
  padding: 8px 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.dropdown-menu li:focus-within {
  outline: none;
  background-color: #f0f0f0;
}

.sort-by-dropdown {
  position: relative;
  margin-right: 24px;
  border-bottom: 1px solid #dadada;
}

.link-separator {
  border-right: 1px solid rgba(0, 0, 0, 0.1215686275);
}

.link-about-contact-page {
  display: flex;
  margin-top: 32px;
  gap: 8px;
  color: #1f7a54;
  justify-content: center;
}

.link-about-contact-page a {
  color: #1f7a54;
}

@font-face {
  font-family: "quicksand-medium";
  src: url("../../assets/Quicksand font 1/static/Quicksand-Medium.ttf");
}
@font-face {
  font-family: "quicksand-bold";
  src: url("../../assets/Quicksand font 1/static/Quicksand-Bold.ttf");
}
@font-face {
  font-family: "quicksand-semibold";
  src: url("../../assets/Quicksand font 1/static/quicksand-Semibold.ttf");
}
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.navbar {
  background-image: url("../../assets/header pattern svg.svg");
  background-color: #25313f;
  background-blend-mode: overlay;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  color: #3fd28b;
}

.navbar-collapsible {
  color: #3fd28b;
  cursor: pointer;
  padding: 19px 0;
}

.navbar-collapsible:hover,
.current-page {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 20px;
  color: white;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar-menu {
  display: none;
}

.notification-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.notification-badge {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 3px;
  right: 5px;
  padding-bottom: 1px;
  background: #2a7ff3;
  color: white;
  border-radius: 100%;
  font-size: 12px;
  font-weight: bold;
  transform: translate(50%, -50%);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-wrapper {
  position: relative;
  padding: 15px 0px;
}

.notifications {
  background-color: white;
  overflow-y: scroll;
  height: 400px;
}

.notification-item {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  border-bottom: 1px solid #e1e1e1;
}

.notification-item-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 14px;
  gap: 8px;
}

.notification-item-datetime {
  align-self: flex-end;
}

.notifications-wrapper {
  background-color: white;
  display: block;
  position: absolute;
  width: 335px;
  top: 58px;
  right: 0px;
  z-index: 1;
  color: black;
  opacity: 0;
  transition: all 200ms ease-in-out;
  max-height: 0;
  visibility: collapse;
}

.show-all-button {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  color: #1f7a54;
  font-size: 14px;
  border-width: 0;
  background-color: white;
}

.show-all-wrapper {
  padding: 10px 0;
}
.show-all-wrapper button {
  padding: 5px 0;
  background-color: white;
}

.box-shadow {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
}

.unread {
  background-color: #ffffee;
}

.notification-wrapper:hover .notifications-wrapper,
.notification-wrapper:focus-within .notifications-wrapper,
.notifications-wrapper:focus-within .notifications-wrapper {
  visibility: visible;
  opacity: 1;
  max-height: -moz-fit-content;
  max-height: fit-content;
  transform: translateY(0px);
}
.notification-wrapper:hover .notification-badge,
.notification-wrapper:focus-within .notification-badge,
.notifications-wrapper:focus-within .notification-badge {
  visibility: hidden;
}
.notification-wrapper:hover .notification-icon,
.notification-wrapper:focus-within .notification-icon,
.notifications-wrapper:focus-within .notification-icon {
  filter: grayscale(100%) brightness(1000%);
}

@media only screen and (max-width: 960px) {
  .select-dashboard {
    padding: 15px;
    color: #1f7a54;
  }
  .select-wrapper {
    color: #1f7a54;
    font-family: quicksand-medium;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: background-color 300ms;
  }
  .select-wrapper:hover {
    background-color: #f3f3f3;
  }
  .select-wrapper img {
    margin-top: 5px;
    transition: transform 300ms;
  }
  .select-wrapper .select-dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transform: translateY(-10px);
    transition: all 300ms ease-in-out;
  }
  .select-wrapper .select-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  .select-wrapper .select-container p {
    font-size: 16px;
    margin: 0;
  }
  .select-wrapper .select-dropdown-list li {
    padding: 15px;
    padding-left: 30px;
  }
  .select-wrapper .select-dropdown-list li:hover {
    background-color: rgb(215, 215, 215);
    transition: all 300ms ease-in-out;
  }
  .dropdown-arrow-select {
    transition: 300ms;
  }
  .navbar-collapsible {
    display: none;
  }
  .navbar-dropdown-menu {
    opacity: 0;
    transition: all 200ms ease-in-out;
    max-height: 0;
    visibility: collapse;
    font-family: "quicksand-medium";
    width: 280px;
    position: absolute;
    right: 0;
    top: 58px;
    background-color: white;
    flex-direction: column;
    gap: 2px;
    z-index: 1;
    text-transform: uppercase;
  }
  .hamburger-select {
    color: #1f7a54;
    border: none;
    font-family: quicksand-medium;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
  }
  .navbar-dropdown-menu select:hover {
    background-color: #f3f3f3;
  }
  .navbar-dropdown-menu .sort-by-dropdown {
    margin-right: 0;
  }
  .navbar-menu {
    display: block;
    position: relative;
    padding: 15px 0;
    cursor: pointer;
  }
  .navbar-menu:hover .navbar-dropdown-menu {
    visibility: visible;
    opacity: 1;
    max-height: -moz-fit-content;
    max-height: fit-content;
    transform: translateY(0px);
  }
  .navbar-menu:hover .navbar-menu-image {
    filter: grayscale(100%) brightness(1000%);
  }
  .navbar {
    border-bottom: 1px solid #ccc;
  }
}
/* width */
::-webkit-scrollbar {
  width: 4px;
  position: fixed;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 40px;
  background: #e0e1e1 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 8px;
  color: #616161;
}

.footer-separator {
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1215686275);
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer-content-p2 {
  font-size: 12px/16px;
  font-family: quicksand-bold;
  color: #616161;
}

.link-separator {
  border-right: 1px solid rgba(0, 0, 0, 0.1215686275);
}

.link-about-contact-page {
  display: flex;
  margin-top: 32px;
  gap: 8px;
  color: #1f7a54;
  justify-content: center;
}
.link-about-contact-page a {
  color: #1f7a54;
}

.login-button {
  padding: 10px 85px;
  font-size: 14px;
  background: #3fd28b 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2392156863);
  opacity: 1;
  cursor: pointer;
}

.remember-me-container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: -moz-fit-content;
  width: fit-content;
}

.remember-me-label {
  font-family: quicksand-semibold;
}

.school-type {
  display: flex;
  gap: 20px;
  align-self: flex-start;
}

.school-type--input-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.show-password-button {
  cursor: pointer;
}

.user-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.user-details--address {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.user-details--credentials {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.user-details--credentials input {
  margin-bottom: 5px;
}

.user-details--input {
  border-bottom: 1px solid #dadada;
}

.user-details--input-label {
  display: flex;
  flex-direction: column;
  /* border-width: 0; */
}
.user-details--input-label a {
  font-size: 14px;
  font-family: quicksand-semibold;
  color: #1f7a54;
  margin-top: 5px;
  align-self: end;
}

.user-details--input-label input {
  flex-grow: 1;
}

.user-details--input-label label {
  color: gray;
  width: 100%;
}

.user-details--input-label div {
  display: flex;
  width: 100%;
}

.user-details--input-label:focus-within div {
  border-color: black;
}
.user-details--input-label:focus-within label {
  color: rgb(109, 109, 109);
}

@font-face {
  font-family: "quicksand-medium";
  src: url("../../assets/Quicksand font 1/static/Quicksand-Medium.ttf");
}
@font-face {
  font-family: "quicksand-bold";
  src: url("../../assets/Quicksand font 1/static/Quicksand-Bold.ttf");
}
@font-face {
  font-family: "quicksand-semibold";
  src: url("../../assets/Quicksand font 1/static/quicksand-Semibold.ttf");
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  font-family: quicksand-semibold;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

p {
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
}

img {
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

input {
  border: none;
  outline: none;
  font-family: quicksand-semibold;
  font-size: 16px;
  margin: 5px 0px;
}

.back-button {
  cursor: pointer;
}

.form-header {
  font-family: quicksand-semibold;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar {
  padding: 10.5px 24px;
  border-bottom: 2px solid #31b9e4;
}

.login {
  margin-top: 50px;
  width: 488px;
  padding: 20px 32px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
  border-top: 4px solid #3ac7ec;
  border-radius: 3px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  flex-grow: 1;
}

::-moz-placeholder {
  font-family: quicksand-semibold;
  font-size: 16px;
}

::placeholder {
  font-family: quicksand-semibold;
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */