@font-face {
	font-family: "quicksand-medium";
	src: url("../../assets/Quicksand\ font\ 1/static/Quicksand-Medium.ttf");
}

@font-face {
	font-family: "quicksand-bold";
	src: url("../../assets/Quicksand\ font\ 1/static/Quicksand-Bold.ttf");
}

@font-face {
	font-family: "quicksand-semibold";
	src: url("../../assets/Quicksand\ font\ 1/static/quicksand-Semibold.ttf");
}
