@font-face {
	font-family: "quicksand-semibold";
	src: url("assets/Quicksand\ font\ 1/static/Quicksand-semibold.ttf");
}

@font-face {
	font-family: "quicksand-bold";
	src: url("assets/Quicksand\ font\ 1/static/Quicksand-Bold.ttf");
}

@font-face {
	font-family: "quicksand-semibold";
	src: url("assets/Quicksand\ font\ 1/static/quicksand-semibold.ttf");
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: "quicksand-semibold";
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: quicksand-semibold;
	font-size: 16px;
}

p {
	padding: 0;
	margin: 0;
}

/* ****************************************************************** */

.add {
	color: #1f7a54;
}

.all-courses {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.class-metadata {
	color: #666666;
	font-size: 12px;
	display: flex;
	gap: 8px;
	width: fit-content;
}

.course-card-container-1 {
	display: flex;
	flex-direction: column;
	gap: 7px;
	width: 100%;
}

.course-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
	.sort-container {
		width: 100%;
	}
}

.course-card-hr {
	border-bottom: 1px solid rgb(219, 219, 219);
}

.course-card {
	display: flex;
	gap: 16px;
}

.course-card-title {
	font-size: 16px/20px;
}
.course-card-subject-standard {
	display: flex;
	gap: 9px;
	color: #666666;
	font-size: 12px;
	/* font-size: 12px/16px; */
}
.course-card-options {
	display: flex;
	justify-content: space-between;
	padding: 0 24px 9px 24px;
}

.course-card-item {
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 24px;
	padding-bottom: 0;
	position: relative;
	/* width: 571px; */
}

.course-card-information {
	display: flex;
	flex-direction: column;
	gap: 18px;
	width: 100%;
}

.courses-metadata {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
	stroke-opacity: 0.12;
	padding: 15px 0;
}

.course-dates {
	display: flex;
	gap: 4px;
}

.course-card-title-wrapper {
	display: flex;
	justify-content: space-between;
}

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */
	background-color: #eeeeee;
	padding: 24px;
	flex-grow: 1;
}

.dashboard-navbar {
	display: flex;
	width: 100%;
	background-color: #8ddc97;
}

.dashboard-navbar-link {
	padding: 18px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	.dashboard-navbar-link-count {
		font-family: quicksand-bold;
		/* font-size: 24px/28px; */
		font-size: 24px;
	}
}

.disabled-input {
	color: gray;
}

.disabled-star {
	filter: grayscale(100%);
}

.disabled-option {
	opacity: 50%;
}
.selected {
	border-bottom: 4px solid black;
}

.dropdown-arrow {
	transition: 300ms;
}

.dropdown-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
	padding: 8px 0;
	width: 100%;
	/* background-color: white; */
}

.dropdown-header input,
.input {
	border: none;
	outline: none;
	width: 100%;
	cursor: pointer;
	background: transparent;
	font-size: 16px;
	font-family: quicksand-semibold;
	padding: 0;
}

.dropdown-header .dropdown-input {
	width: 100%;
}

.dropdown-header img {
	width: 16px;
	height: 16px;
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border: 1px solid #ccc;
	background-color: white;
	z-index: 10;
	list-style: none;
	padding: 0;
	margin: 4px 0 0 0;
}

.dropdown-menu li {
	padding: 8px 10px;
	cursor: pointer;
}

.dropdown-menu li:hover {
	background-color: #f0f0f0;
}

.expired-card {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 12px;
	color: #d80000;
	background-color: #ffe4e6;
	padding: 2px;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	height: 40px;
	background: #e0e1e1 0% 0% no-repeat padding-box;
	opacity: 1;
	padding: 8px;
	color: #616161;
}

.footer-separator {
	height: 100%;
	border-right: 1px solid #0000001f;
}

.footer-content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.footer-content-p2 {
	font-size: 12px/16px;
	font-family: quicksand-bold;
	color: #616161;
}

.link-about-contact-page {
	display: flex;
	margin-top: 32px;
	gap: 8px;
	color: #1f7a54;
	justify-content: center;

	a {
		color: #1f7a54;
	}
}

.link-separator {
	border-right: 1px solid #0000001f;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
	background-image: url("assets/header\ pattern\ svg.svg");
	background-color: #25313f;
	background-blend-mode: overlay;
	color: #3fd28b;
}

.navbar-collapsible {
	cursor: pointer;
	padding: 19px 0;
}

.navbar-collapsible:hover,
.current-page {
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-underline-offset: 20px;
	color: white;
}

.navbar-links {
	display: flex;
	align-items: center;
	gap: 32px;
}

.navbar-menu {
	display: none;
}

.notification-icon {
	position: relative;
	display: inline-block;
}

.notification-badge {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 3px;
	right: 5px;
	padding-bottom: 1px;
	background: #2a7ff3;
	color: white;
	border-radius: 100%;
	font-size: 12px;
	font-weight: bold;
	transform: translate(50%, -50%);
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.show-courses {
	color: #686868;
	font-size: 12px;
}

.sort-container {
	display: flex;
	align-items: center;
	position: relative;

	label {
		font-size: 12px;
		color: #686868;
		margin-right: 6px;
	}
}

.sort-by-dropdown {
	position: relative;
	margin-right: 24px;
}

.subject-metadata {
	display: flex;
	gap: 7px;
	font-size: 12px;
	/* font-size: 12px/16px; */
}

@media only screen and (max-width: 960px) {
	.course-cards {
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.course-card-item {
		width: 571px;
	}

	.navbar-collapsible {
		display: none;
	}

	.navbar-dropdown-menu {
		display: none;
		position: absolute;
		right: 0px;
		top: 58px;
		background-color: #25313f;
		flex-direction: column;
		gap: 2px;
		z-index: 1;
	}

	.hamburger-item {
		padding: 5px 10px;
		cursor: pointer;
		border-bottom: 1px solid #3fd28b;
	}

	.hamburger-item:hover {
		color: white;
		border-bottom: 1px solid white;
	}

	.navbar-menu {
		display: block;
		position: relative;
		padding: 15px 0;
		cursor: pointer;
	}
}

@media only screen and (max-width: 671px) {
	.course-card-item {
		width: 400px;
	}
}
