@font-face {
	font-family: "quicksand-medium";
	src: url("assets/Quicksand\ font\ 1/static/Quicksand-Medium.ttf");
}

@font-face {
	font-family: "quicksand-bold";
	src: url("assets/Quicksand\ font\ 1/static/Quicksand-Bold.ttf");
}

@font-face {
	font-family: "quicksand-semibold";
	src: url("assets/Quicksand\ font\ 1/static/Quicksand-Medium.ttf");
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	margin: 0;
	min-height: 100vh;
	width: 100%;
	font-family: quicksand-semibold;
	font-size: 16px;
	display: flex;
	flex-direction: column;
}

p {
	padding: 0;
	margin: 0;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 25px;
}

img {
	padding: 0;
	height: fit-content;
	width: fit-content;
}

input {
	border: none;
	outline: none;
	font-family: quicksand-semibold;
	font-size: 16px;
	margin: 5px 0px;
}

.back-button {
	cursor: pointer;
}

.dropdown-image {
	padding: 2px;
	border-radius: 100%;
	justify-self: end;
	cursor: pointer;
}

.dropdown-image:hover {
	background-color: gray;
}

.form-header {
	font-family: quicksand-semibold;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	height: 40px;

	background: #e0e1e1 0% 0% no-repeat padding-box;
	opacity: 1;
	padding: 8px;
	color: #616161;
}

.footer-separator {
	height: 100%;
	border-right: 1px solid #0000001f;
}

.footer-content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.footer-content-p2 {
	font-size: 12px/16px;
	font-family: quicksand-bold;
	color: #616161;
}

.navbar {
	/* background-color: #25313f; */
	background-image: url("assets/header pattern svg.svg");
	background-color: #25313f;
	background-blend-mode: overlay;
	padding: 10.5px 24px;
	border-bottom: 2px solid #31b9e4;
}

.input-user-credential div {
	display: flex;
}

.link-about-contact-page {
	display: flex;
	margin-top: 32px;
	gap: 8px;
	color: #1f7a54;
	.link-separator {
		border-right: 1px solid #0000001f;
	}

	a {
		color: #1f7a54;
	}
}

.login {
	margin-top: 50px;
	width: 488px;
	/* height: 550px; */
	padding: 20px 32px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 34px;

	border-top: 4px solid #3ac7ec;
	border-radius: 3px;
}

.login-button {
	padding: 10px 85px;
	font-size: 14px;
	background: #3fd28b 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 5px #0000003d;
	opacity: 1;
	cursor: pointer;
}

.login-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #eeeeee;
	flex-grow: 1;
}

::placeholder {
	font-family: quicksand-semibold;
	font-size: 16px;
}

.remember-me-container {
	display: flex;
	align-items: center;
	gap: 5px;
	width: fit-content;
}

.remember-me-label {
	font-family: quicksand-semibold;
}

.school-type {
	display: flex;
	gap: 20px;
	align-self: flex-start;
}

.school-type--input-label {
	display: flex;
	align-items: center;
	gap: 10px;
}

.show-password-button {
	cursor: pointer;
}

.user-details {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 56px;
}

.user-details--address {
	display: flex;
	flex-direction: column;
	gap: 36px;
}

.user-details--credentials {
	display: flex;
	flex-direction: column;
	gap: 36px;
	input {
		margin-bottom: 5px;
	}
}

.user-details--input {
	border-bottom: 1px solid #dadada;
}
.user-details--input-label {
	display: flex;
	flex-direction: column;
	/* border-width: 0; */

	a {
		font-size: 14px;
		font-family: quicksand-semibold;
		color: #1f7a54;
		margin-top: 5px;
		align-self: end;
	}
}
.user-details--input-label input {
	flex-grow: 1;
}

.user-details--input-label label {
	color: gray;
	width: 100%;
}

.user-details--input-label div {
	display: flex;
	width: 100%;
}

.user-details--input-label:focus-within {
	div {
		border-color: black;
	}

	label {
		color: rgb(109, 109, 109);
	}
}

.dropdown-arrow {
	transition: 300ms;
}

.dropdown-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 8px 0;
	width: 100%;
}

.dropdown-header input,
.input {
	border: none;
	outline: none;
	width: 100%;
	cursor: pointer;
	background: transparent;
	font-size: 16px;
	font-family: quicksand-semibold;
	padding: 0;
}

.dropdown-header .dropdown-input {
	width: 100%;
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border: 1px solid #ccc;
	background-color: white;
	z-index: 10;
	list-style: none;
	padding: 0;
	margin: 4px 0 0 0;
}

.dropdown-menu li {
	padding: 8px 10px;
	cursor: pointer;
}

.dropdown-menu li:hover {
	background-color: #f0f0f0;
}

.sort-by-dropdown {
	position: relative;
	margin-right: 24px;
	border-bottom: 1px solid #dadada;
}
