@font-face {
    font-family: roboto-bold;
    src: url("assets/fonts/roboto-v48-latin-700.woff2");
}

@font-face {
    font-family: roboto-regular;
    src: url("assets/fonts/roboto-v48-latin-regular.woff2");
}

@font-face {
    font-family: roboto-medium;
    src: url("assets/fonts/roboto-v48-latin-500.woff2");
}

body { 
    font-family: roboto-500;
    font-weight: normal;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #f88582; */
}

.profile-card {
    display: flex;
    gap: 14px;
    width: fit-content;
    padding: 4px;
    background-color: white;
    box-shadow: 0 2px 5px black;
    height: 130px;
    width: 449px;
    /* justify-content: center; */
    align-items: center;
}

.tweet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.tweet * {
    margin: 0;
}

.tweet-content {
    font-family: roboto-regular;
    font-size: 20px;
}

.tweet-data {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.tweet-stats {
    display: flex;
    align-items: center;
    gap: 24px;
    opacity: 50%;   
    font-family: roboto-medium;
    /* font-weight: 500; */
    font-size: 15px;
}

/* .tweet-stats-info {
    display: flex;
    align-items: center;
    gap: 10px;
} */

.tweet-stats-item {
    display: flex;
    align-items: center;
    gap: 14px;
}

.tweet-username {
    font-family: roboto-bold;
    font-size: 20px;
}

/* .user-profile-pic {
    margin-left: 4px;
} */

