body,
html {
	margin: 0;
	width: fit-content;
}

.bottom {
	height: 1000px;
	width: 100%;
	background-color: black;
}

.columns {
	display: flex;
	width: fit-content;
}

.column-wrapper {
	display: flex;
}

.rows {
	width: fit-content;
	display: flex;
	flex-direction: column;
	background-color: white;
}

.rows--canvas {
	display: flex;
}

.main-canvas {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	width: fit-content;
}
